<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="student_Management_System.Properties.Settings.studentdbConnectionString" connectionString="server=localhost;user id=root;database=studentdb" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
